.main_app_page {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding:0;
}

.main_app_navbar {
    width: 97%;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF0;
    color: #353535;
}
.main_app_navbar_subtitle {
    font-size: 15px;
}

.main_app_content_section {
    width: calc(100% - 40px - 2px);
    display: flex;
    height: auto;
    margin:20px;
}
.main_app_navbar_button_group {
    text-align: right;
    flex-grow: 1;
    position: relative;
    display: inline-block;
}
.main_app_navbar_button {
    font-size: 40px;
    font: bold;
    padding: 15px;
    color: #353535;
    background-color: #FFFFF0;
    border:none;
    transition: ease-in-out .2s;
}
.main_app_navbar_button:hover {
    color:#5e5e5e;
    transition: ease-in-out .2s;
}

.dropdown-wrapper {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: #FFFFF0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
}

.dropdown-content button {
    color: #353535;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px #353535;
    border-radius: 0px;
    background: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #e9e9e9;
}

.user_st_lists {
    display: none;
    position: absolute;
    top: 0;
    left: -207px;
    padding: 0;
    margin: 0;
    background-color: #FFFFF0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    max-height: 400px;
    overflow-y: scroll;
}
.user_st_lists::-webkit-scrollbar {
    width: 8px;
}
.user_st_lists::-webkit-scrollbar-track {
    background: transparent;
}
.user_st_lists::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.user_st_lists
.user_st_list_item {
    width: 200px;
    font-size: 15px;
    color: #FFFFF0;
    background: none;
    border: none;
    overflow: hidden;
}
.user_st_list_item:hover {
    background-color: #3b414d;
    margin:0;
}

.dropdown-content:hover .user_st_lists,
.user_st_lists:hover {
    display: block;
}

.main_app_navbar_button:hover .dropdown-content {
    display: block;
}

.main_app_evaluation_loading_background {
    width: 10%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_app_st_section {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.st_upload_btn {
    min-width: calc(50% - 5px);
    height: 800px;
    font-size: 20px;
    color: #353535;
    background-color: rgba(0, 0, 0, 0);
    border: #353535 2px solid;
    border-radius: 5px;
    transition: all, .1s;
}
.st_upload_btn:hover {
    color: #353535;
    border: #353535 2px solid;
    transition: all, .1s;
}

.st_content_display {
    min-width: calc(50% - 25px);
    height: 800px;
    padding: 10px;
    border: #353535 1px solid;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.st_content {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.st_section_right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.st_detail_process {
    width: 500px;
    margin: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #353535;
}

.st_detail_title {
    margin-left: 5px;
}
.st_detail_information {
    width: 90%;
    display: block;
    flex-direction: column;
    margin-left: 30px;
    margin-top:20px;
    font-size: 20px;
    overflow: scroll;
}
.st_detail_information::-webkit-scrollbar {
    display: none;
}

.model_selector_label {
    margin-left: 30px;
    margin-bottom: 5px;
    width: 500px;
    color: #353535;  
}
.model_selector {
    width: 45vw;
    margin-left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.process_evaluation_btn {
    width: 45vw;
    font-size: 20px;
    background-color: #353535;
    color: #FFFFF0;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    margin-top: 20px;
    transition: all .2s;
}
.process_evaluation_btn:hover {
    background-color: #7e7e7e;
    transition: all .2s;
}
.process_evaluation_btn:disabled {
    background-color: #353535;
    opacity: .3;
    cursor: not-allowed;
}
.evaluation_result_label {
    width: 45vw;
    height: 10vw;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eval_pending {
    background-color: #35353575;
    color: #cccccc75;
}
.eval_pass {
    background-color: #3db44770;
    color: #34d85d70;
}
.eval_fail {
    background-color: #b43d3d70;
    color: #d8343470;
}
.eval_brief_result {
    margin-left: 30px;
    font-size: 20px;
    color: #353535;
}

.main_app_result_section {
    width: calc(100% - 40px - 2px);
    height: 500px;
    border: #353535 2px solid;
    border-radius: 5px;
    display: flex;
    margin-left:20px;
    margin-bottom: 10px;
}
.result_container {
    width: 25%;
    height: auto;
    margin: 10px 0px 10px 10px;
    border: #353535 1px solid;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}
.result_container::-webkit-scrollbar {
    display: none;
}

.result_detail_content {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: #353535 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: #353535;
}
.result_brief_label {
    width: 100%;
    color: #FFFFF0;
    font-size: 20px;
    text-align: center;
    background-color: #353535;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.result_brief_label:hover {
    background-color: #353535;
}


.footer_btn_group {
    width: 100%;
    text-align: center;
}
.save_evaluation_result_btn {
    width: 30%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #FFFFF0;
    background-color: #353535;
    transition: all .2s;
}
.save_evaluation_result_btn:hover {
    background-color: #707379;
    transition: all .2s;
}

.save_evaluation_result_btn:disabled {
    background-color: #353535;
    opacity: .3;
    cursor: not-allowed;
}
