.user_setting_page {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.user_setting_panel {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}


.setting_input_label {
    width: 90%;
    font-size: 20px;
    text-align: left;
    color:rgb(109, 109, 109);
}
.setting_input {
    width:90%;
    font-size: 25px;
    background-color: #282c34;
    color: rgb(109, 109, 109);
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #FFFFF0;
}
.setting_input::placeholder {
    font-size: 15px;
    opacity: .7;
}

.grey {
    color: rgba(150, 150, 150, 0.75);
}
.grey::placeholder {
    color: rgba(150, 150, 150, 0.75);
}

.return_btn {
    font: bold;
    padding: 15px;
    color: rgb(211, 211, 211);
    background-color: rgba(0, 0, 0, 0);
    transition: ease-in-out .2s;
    font-size: 40px;
    position: fixed;
    right: 40px;
    top: 40px;
}

.return_btn:hover {
    color:rgb(141, 141, 141);
    transition: ease-in-out .2s;
}

.setting_submit_btn {
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0);
    color: #353535;
    border: rgb(109, 109, 109) 1px solid;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    transition: ease-in-out .1s;
}
.setting_submit_btn:hover {
    color: rgb(139, 139, 139);
    border: rgb(139, 139, 139) 1px solid;
    transition: ease-in-out .1s;
}

.updateInputContainer {
    width: 100%;
    height: 50vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.updateModeBtnGroup {
    width: 100%;
    text-align: left;
    border-bottom: rgb(180, 180, 180) 1px solid;
}
.updateModeBtn {
    font-size: 25px;
    margin-top:20px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #7e7e7e;
    transition: all .2s;
}
.updateModeBtn:hover {
    color: #353535;
    transition: all .2s;
}
.light {
    color: #353535;
}