.app-left {
    margin-right: 12px;
}

.app-right {
    margin-left: 12px;
}

.st_upload {
    height: 900px;
    margin: 0;
    padding: 0;
}

.st_detail_custom {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    overflow: scroll;
}

.st_detail_custom::-webkit-scrollbar {
            display: none;
}

.evaluation_status {
    width: 100%;
    height: 120px;
    background-color: grey;
    text-align: center;
    opacity: .3;
    font-size: 70px;
    display: flex;
    border: #e6e6e6 1px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.evaluation_status_pass {
    color: #1eaf1e;
    background-color: rgba(13, 124, 13, 0.5);
    border: #1eaf1e 1px solid;
    opacity: 1;
}

.evaluation_status_fail {
    color: red;
    background-color: rgba(181, 36, 36, 0.5);
    border: red 1px solid;
    opacity: 1;
}