.app-left {
    margin-right: 12px;
}

.app-right {
    margin-left: 12px;
}

.st_upload {
    height: 900px;
    margin: 0;
    padding: 0;
}

.st_detail_custom {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    overflow: scroll;
}

.st_detail_custom::-webkit-scrollbar {
            display: none;
}
